/* Estilos para dispositivos móviles */

body {
    margin: 0;
    padding: 0;
    background-color: #1C1C1C;
    font-family: "Readex Pro", sans-serif;
    color: #F9F4FF; /* Color de texto */
    overflow-x: hidden; /* Evitar desplazamiento horizontal */
}

.container {
    width: 100%;
    min-height: 100vh; /* Asegurar que ocupe toda la altura */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centrar contenido verticalmente */
    padding: 10px;
}

.header {
    width: 100%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinear al inicio */
    justify-content: center;
    margin-bottom: 20px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinear al inicio */
    margin-bottom: 10px;
}

.arrow-left {
    width: 32px; /* Ancho del ícono arrow-left */
    height: 32px; /* Altura del ícono arrow-left */
    margin-right: 10px; /* Agregar margen derecho */
}

.interpretacion {
    margin: 0;
    margin-left: 5px; /* Ajustar margen izquierdo */
    font-size: 20px; /* Reducir tamaño de fuente */
}

.interpretation-text {
    font-size: 18px; /* Reducir tamaño de fuente */
    margin: 0;
    margin-left: 0px; /* Ajustar margen izquierdo */
}

.switch.switch1{
    margin-left:0px;
}
.switch.switch2{
    margin-left:5px;
}
.switch-container {
    margin-top: 10px;
    display: flex;
    align-items: center; /* Alinear elementos verticalmente */
    margin-bottom: 10px; /* Espacio entre los switches y el contenido siguiente */
}

.switch {
    width: 149px; /* Ancho del switch */
    height: 39px; /* Altura del switch */
    background-color: #383838; /* Color de fondo del switch */
    text-align: center;
    display: flex; /* Hacer que el contenido esté centrado vertical y horizontalmente */
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    margin-right: 5px;
    border-radius: 12px; /* Borde redondeado */
}

.switch-label {
    margin: 0;
    font-size: 14px; /* Tamaño de fuente */
    color: white; /* Color de texto */
}

.flecha {
    width: 16px; /* Ancho de la flecha */
    height: 16px; /* Altura de la flecha */
    cursor: pointer;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.buttons .btn {
    background-color: gray; /* Cambiar fondo de botones a gris */
    color: white; /* Cambiar color de texto a blanco */
    height: 30px; /* Reducir altura de botones */
    width: 120px; /* Reducir ancho de botones */
    margin-bottom: 5px; /* Reducir margen inferior */
}

.start-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 324px;
    max-width: 600px; /* Ajustar tamaño máximo del área de inicio */
    height: 185px; /* Ajustar altura del área de inicio */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    border-radius: 12px; /* Borde redondeado */
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(239, 229, 255, 0.1); /* Sombra con color y opacidad */
}

.start-button {
    font-size: 16px; /* Tamaño de fuente del botón */
    margin-top: 136px;
    width: 324px; /* Ancho del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    background-color: #1C1C1C; /* Color de fondo del botón Start */
    color: white; /* Color de texto del botón */
    border: none; /* Sin borde */
    border-top-left-radius: 0; /* Borde superior izquierdo cuadrado */
    border-top-right-radius: 0; /* Borde superior derecho cuadrado */
    border-bottom-left-radius: 12px; /* Borde inferior izquierdo redondeado */
    border-bottom-right-radius: 12px; /* Borde inferior derecho redondeado */
    cursor: pointer;
}

.webcam-container {
    width: 100%;
    max-width: 324px; /* Ajustar tamaño máximo de la cámara */
    height: 185px; /* Ajustar altura de la cámara */
    background-color: #333; /* Color de fondo de la cámara */
    display: none; /* Ocultar inicialmente la cámara */
    border-radius: 12px; /* Borde redondeado */
    box-shadow: 0px 0px 10px rgba(239, 229, 255, 0.1); /* Sombra con color y opacidad */
}

.label-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 324px;
    max-width: 600px; /* Ajustar tamaño máximo del área de inicio */
    height: 185px; /* Ajustar altura del área de inicio */
    background-color: #363636; /* Fondo semitransparente */
    border-radius: 12px; /* Borde redondeado */
    margin-bottom: 20px;
    overflow-y: auto; /* Habilitar desplazamiento vertical si es necesario */
    border: 1px solid rgba(132, 128, 138, 0.377); /* Borde con color #84808A */
    box-shadow: 0px 0px 10px rgba(239, 229, 255, 0.1); /* Sombra con color y opacidad */
}

.label-container .result-item {
    margin-bottom: 5px; /* Espacio entre resultados */
}
