/* Estilos para dispositivos móviles */

body {
    margin: 0;
    padding: 0;
    background-color: #1C1C1C;
    font-family: Arial, sans-serif;
    color: #F9F4FF; /* Color de texto */
    overflow-x: hidden; /* Evitar desplazamiento horizontal */
}

.container {
    width: 100%;
    min-height: 100vh; /* Asegurar que ocupe toda la altura */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinear al inicio */
    justify-content: center;
    margin-left:50px;
    margin-bottom: 20px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinear al inicio */
    margin-bottom: 10px;
}

.arrow-left {
    height: 30px; /* Reducir altura de la flecha */
    margin-right: 10px; /* Agregar margen derecho */
}

.interpretacion {
    margin: 0;
    margin-left: 5px; /* Ajustar margen izquierdo */
    font-size: 18px; /* Reducir tamaño de fuente */
}

.interpretation-text {
    font-size: 12px; /* Reducir tamaño de fuente */
    margin: 0;
    margin-left: 10px; /* Ajustar margen izquierdo */
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.buttons .btn {
    background-color: gray; /* Cambiar fondo de botones a gris */
    color: white; /* Cambiar color de texto a blanco */
    height: 30px; /* Reducir altura de botones */
    width: 120px; /* Reducir ancho de botones */
    margin-bottom: 5px; /* Reducir margen inferior */
}

.start-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    max-width: 600px; /* Ajustar tamaño máximo del área de inicio */
    height: 200px; /* Ajustar altura del área de inicio */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    border-radius: 10px; /* Borde redondeado */
    margin-bottom: 20px;
}

.start-area button {
    font-size: 16px; /* Tamaño de fuente del botón */
    width: 300px; /* Ancho del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    margin-top: 162px; /* Ajuste de margen superior */
    background-color: #554BF1; /* Color de fondo del botón Start */
    color: white; /* Color de texto del botón */
    border: none; /* Sin borde */
    border-top-left-radius: 0; /* Borde superior izquierdo cuadrado */
    border-top-right-radius: 0; /* Borde superior derecho cuadrado */
    border-bottom-left-radius: 5px; /* Borde inferior izquierdo redondeado */
    border-bottom-right-radius: 5px; /* Borde inferior derecho redondeado */
    cursor: pointer;
}

.webcam-container {
    width: 100%;
    max-width: 300px; /* Ajustar tamaño máximo de la cámara */
    height: 200px; /* Ajustar altura de la cámara */
    background-color: #333; /* Color de fondo de la cámara */
    display: none; /* Ocultar inicialmente la cámara */
    border-radius: 10px; /* Borde redondeado */
}

.label-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    max-width: 600px; /* Ajustar tamaño máximo del área de inicio */
    height: 200px; /* Ajustar altura del área de inicio */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    border-radius: 10px; /* Borde redondeado */
    margin-bottom: 20px;
    overflow-y: auto; /* Habilitar desplazamiento vertical si es necesario */
    border: 1px solid rgba(132, 128, 138, 0.377); /* Borde con color #84808A */
}

.label-container .result-item {
    margin-bottom: 5px; /* Espacio entre resultados */
}
